<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
  {% include head.html %}
</head>
<body>
  <div class="page">
    {% include nav.html %}

    {{ content }}
  </div>

  {% include footer.html %}

  <!-- <div class="bottom-bar">
    <div class="cart-summary">
      <strong>Cart</strong>
      <span><span id="cartCount">0</span> item(s) • ₹<span id="cartTotal">0</span></span>
    </div>
    <button class="btn-cart" id="viewCartBtn">
      View cart
      <span>↑</span>
    </button>
  </div> -->

  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
